.statCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}
.statCard {
  padding: 24px 16px;
  background-color: var(--bg-primary);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.statcardRow {
  display: flex;
  justify-content: space-between;
}
.statcardRow .success {
  color: var(--text-tertiary);
}
.statcardRow .error {
  color: red;
}
.mainContainer {
  display: grid;
  grid-template-columns: 1fr 30%;
  column-gap: 32px;
  margin-top: 32px;
}
.mainContainer .containerCard {
  background-color: var(--bg-primary);
  padding: 32px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.soldItemCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.soldItemCard img {
  border-radius: 8px;
}
.soldItemCard .soldItemCardLeft {
  display: flex;
  align-items: center;
  gap: 24px
}
.soldItemCard .itemsCount {
  color: var(--text-secondary);
}