.container {
  width: 100%;
  min-height: 65vh;
  background-color: var(--bg-primary);
  border-radius: 8px;
  padding: 24px 0;
}
.menu {
  padding: 0 24px;
}
.heading {
  text-transform: capitalize;
  padding: 16px 0;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.card {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}
.card img {
  margin: 8px 12px;
  border-radius: 6px;
  height: 166px;
  width: -webkit-fill-available;
}
.card .content {
  padding: 8px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.price {
  color: var(--text-tertiary);
}