aside {
  position: fixed;
  top: 81px;
  left: 0;
  width: 112px;
  border-right: 1px solid var(--border-color);
  background-color: var(--bg-primary);
  height: calc(100vh - 81px);
}
.sidebar_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  list-style: none;
  gap: 12px;
}
.sidebar_container li:first-child {
  margin-top: 20px;
}
.sidebar_container li:last-child {
  margin-top: auto;
  margin-bottom: 20px;
}
.sidebarIcon {
  padding: 16px;
}
.active {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
}