.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  padding: 17px 22px;
  border-bottom: 1px solid var(--border-color);
}

.table th {
  background-color: var(--bg-secondary);
  text-align: left;
  padding: 20px 22px;
  white-space: nowrap;
}